<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router1.php?action=CaveAccueil">GANDON-GAYDA</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">FAMILLE <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router1.php?action=familleReadAll">Liste des familles</a></li>
                    <li><a href="router1.php?action=familleCreate">Ajout d'une famille</a></li>
                    <li><a href="router1.php?action=familleReadNom&target=familleReadOne">Sélection d'une famille par son nom</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">EVENEMENT <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router1.php?action=evenementReadAll">Liste des evenements</a></li>
                    <li><a href="router1.php?action=evenementCreate">Ajout d'un evenement</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">LIENS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router1.php?action=lienReadAll">Liste des liens</a></li>
                    <li><a href="?">?Ajout d'un lien parent</a></li>
                    <li><a href="?">Ajout d'un lien d'union</a></li>
                </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">INDIVIDUS <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="router1.php?action=individuReadAll">Liste des individus</a></li>
                <li><a href="?">Ajout d'un individu</a></li>
                <li><a href="?">Page d'un individu</a></li>
            </ul>
        </li>



        </ul>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

